@import "tailwindcss";

* {
  scroll-behavior: smooth;
  user-select: none;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  color: #d7cab5;
  background-color: #0d0d0d;
  width: 100%;
}
@media (min-width: 1020px) {
  .home-page {
    cursor: none;
  }

  .home-page .cursor-pointer {
    cursor: none;
  }
}
body::-webkit-scrollbar {
  display: none;
}
.scroller_none::-webkit-scrollbar {
  display: none;
}
.custom_scroller::-webkit-scrollbar {
  width: 4px;
  background-color: #2e2e2e;
  border-radius: 10px;
}
.custom_scroller::-webkit-scrollbar-thumb {
  background-color: #d7cab5;
  border-radius: 10px;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.padding {
  padding-inline: 1rem;
  padding-block: 1.5rem;
}
@media (min-width: 750px) {
  .padding {
    padding: 2.5rem;
    padding-block: 3rem;
  }
}
.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

html,
body {
  height: 100%;
}

#smooth-wrapper {
  position: fixed;
  inset: 0;
  overflow: hidden;
}

#smooth-content {
  will-change: transform;
}

.bg-pattern {
  background-color: #0d0d0d;
  background-image:
    linear-gradient(0deg, #d7cab524 1px, transparent 1px),
    linear-gradient(90deg, #d7cab524 1px, transparent 1px);
  background-size:
    100% 2rem,
    2rem 100%;
  background-position:
    0 0rem,
    0 0;
  background-repeat: repeat-y, repeat-x;
}
.grid_bg {
  display: grid;
  grid-template-columns: repeat(50, 1fr);
}
.grid-wrapper {
  position: fixed;
  inset: 0;
  display: grid;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.grid-box {
  width: 1rem;
  height: 1rem;
  border: 1px solid #d7cab552;
  box-sizing: border-box;
}

.hero-search-background {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0% auto auto 50%;
  overflow: hidden;
  transform: translate(-50%);
}

.line-break {
  width: calc(100% - 2rem);
  margin: 0 auto;
  height: 1px;
  background-color: #eb5939;
  border-radius: 100%;
}
@media (min-width: 750px) {
  .line-break {
    width: calc(100% - 5rem);
  }
}

::view-transition-old(root) {
  animation: page-fade-out 0.5s ease-in forwards;
}

::view-transition-new(root) {
  animation: page-fade-in 0.5s ease-out forwards;
}

@keyframes page-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes page-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
